################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/projekatOop/.vs/projekatOop.slnx/FileContentIndex/438e0711-0997-4348-8c09-37638f17770b.vsidx
/projekatOop/.vs/projekatOop.slnx/FileContentIndex/50ccbae7-dea8-4639-afb8-300bca205376.vsidx
/projekatOop/.vs/projekatOop.slnx/FileContentIndex/6f398257-1e23-48d6-ad20-a84c582aa234.vsidx
/projekatOop/.vs/projekatOop.slnx/FileContentIndex/2fab7678-3cf7-495c-9164-f64e8c630244.vsidx
